{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}
{% block container %}
<form action="restart" method="get" class="restartBtn">
    <button>Restart</button>
</form>
<div class="break"></div>
{% include 'scoreboard.html' %}
<table id="game-board">
    {% for row in board %}
        <tr>
            {% for letter in row %}
            <td>{{letter}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<div class="break"></div>
{% include 'guess-form.html' %}
<div class="break"></div>
<div id="message">
</div>
<div class="break"></div>
{% include 'word-list.html' %}
{% endblock %}